# Ignore virtual environment files and directories
.venv

# Ignore PNG files
*.png

# Ignore Python bytecode files
**pycache**
*.pyc

# Ignore IDE-specific files (Optional)
.idea/
.vscode/

# Ignore CSV's
*.csv

# Ignore models
*.pkl

# Ignore all .txt files
*.txt

# Exclude CHANGELOG.txt from being ignored
!CHANGELOG.txt

# Exclude requirements.txt from being ignored
!requirements.txt

